:root {
    --TOOLBAR-DIRECTION: row;
    --TOOLBAR-HEIGHT: 45px;
    --TOOLBAR-BACKGROUND: #f5f5f5;
    --TOOLBAR-ITEM-MARGIN: 5px;
    --TOOLBAR-POPUP-OFFSET: 10px;
    --TOOLBAR-ITEM-ACTIVE-COLOR: #FFF;
    --TOOLBAR-ITEM-ACTIVE: #394554;
    --TOOLBAR-ITEM-TOOLTIP-COLOR: #FFF;
    --TOOLBAR-ITEM-TOOLTIP-BG: #394554;
    --TOOLBAR-ITEM-TOOLTIP-OPACITY: 0.5;
    --TOOLBAR-ITEM-HOVER: #cfd8dc;
    --TOOLBAR-ITEM-WIDTH: var(--TOOLBAR-HEIGHT);
    --TOOLBAR-ITEM-HEIGHT: var(--TOOLBAR-HEIGHT);
    --TOOLBAR-ITEM-FONT-SIZE: 22px;
    --TOOLBAR-COLOR: #000;
    --TOOLBAR-ITEM-RADIUS: 25px;
    --TOOLBAR-DISABLE-COLOR: #F95959;

    --DRAWING-COLOR-01: #1c232d;
    --DRAWING-COLOR-02: #2DACC1;
    --DRAWING-COLOR-03: #74A748;
    --DRAWING-COLOR-04: #FFFFFF;
    --DRAWING-COLOR-05: #F5BA14;
    --DRAWING-COLOR-06: #de5347;

}